.header{
    background: url('./../../../public/HeaderBlock.png') 0 0/auto 100% no-repeat;
    /*background: url('./../../../public/HeaderBlock.png') no-repeat 0 0 fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    display: flex;
    justify-content: center;
}
.header__row{
    height: 100px;
    width: 1169px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*@media all and (min-width: 1169px) {*/
/*.header__row{*/
/*  */
/*}*/
/*}*/

.header__logo{
    display: flex;
    flex-direction: row;
}

.header__logo img:hover{
    background: url("./../../../public/SpaceXLogoHover.png") 3px 2px no-repeat;
}

.logo__active{
    background: url("./../../../public/NavbarActive.png") no-repeat;
}

.header__navbar{
    /*flex: 0 1 33.33%;*/
    display: flex;
    justify-content: end;
    align-items: center;
    /*border: 1px solid red;*/
    /*align-items: center;*/
}
.navbar{
    display: flex;
    flex-direction: row;
}
.navbar__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    white-space: nowrap;
    margin-right: 40px;
    margin-left: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-family: "Museo300", sans-serif;
}

.navbar__item:hover{
    color: #b1b1b1;
    background: url("./../../../public/NavbarHover.png") 0 45px no-repeat;
}

.navbar__item:last-child{
    margin-right: 5px;
}

.navbar__active{
    color: #b1b1b1;
    background: url("./../../../public/NavbarHover.png") 0 45px no-repeat;
    font-weight: 700;
}