* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*_________________________*/

.app {
    background: url('./../public/MainBackground.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Museo300", sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

.app__wrapper {
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.content {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.content__load {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    margin: 0;
    width: 1169px;

}

.load__plug {
    display: flex;
    font-size: 30px;
    font-family: "Museo700", sans-serif;
    margin-top: 3%;
}